{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="mb-4">My Watchlist</h2>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for item in watchlist %}
        <div class="col">
            <div class="card h-100">
                <img src="{{ item.imgUrl }}" class="card-img-top" alt="Listing Image">
                <div class="card-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.summary }}</p>
                    <a href="{% url 'listing' id=item.id %}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
